.header-inner
  .header-search.clearfix
    %h1.header-search__logo
      = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3703848211', width: '134', height: '36', alt: "メルカリ"), "#"
    .header-search__keyword
      = form_for @item, url: "#" do |f|
        = f.search_field :name, class: 'input-default', placeholder: 'キーワードから探す'
        = fa_icon "search", class: "icon-search"

  .header-nav.clearfix
    %ul.header-nav-left
      %li.header-nav-left__category
        %h2
          = link_to 'カテゴリーから探す', "#"
        %ul.header-nav-left__brand__wrap
          %li
            %h3
              = link_to 'レディース', "#"
            %ul
              %li
                = link_to 'トップス', "#"
                %ul
                  %li
                    = link_to 'Tシャツ/カットソー(半袖/袖なし)', "#"
                  %li
                    = link_to 'Tシャツ/カットソー(七分/長袖)', "#"
                  %li
                    = link_to 'シャツ/ブラウス(半袖/袖なし)', "#"
                  %li
                    = link_to 'シャツ/ブラウス(七分/長袖)', "#"
                  %li
                    = link_to 'ポロシャツ', "#"
                  %li
                    = link_to 'キャミソール', "#"
                  %li
                    = link_to 'タンクトップ', "#"
                  %li
                    = link_to 'ホルターネック', "#"
                  %li
                    = link_to 'ニット/セーター', "#"
                  %li
                    = link_to 'チュニック', "#"
                  %li
                    = link_to 'カーディガン/ボレロ', "#"
                  %li
                    = link_to 'アンサンブル', "#"
                  %li
                    = link_to 'ベスト/ジレ', "#"
                  %li
                    = link_to 'パーカー', "#"

          %li
            %h3
              = link_to 'メンズ', "#"
          %li
            %h3
              = link_to 'ベビー・キッズ', "#"
          %li
            %h3
              = link_to 'インテリア・住まい・小物', "#"
          %li
            %h3
              = link_to '本・音楽・ゲーム', "#"
          %li
            %h3
              = link_to 'おもちゃ・ホビー・グッズ', "#"
          %li
            %h3
              = link_to 'コスメ・香水・美容', "#"
          %li
            %h3
              = link_to '家電・スマホ・カメラ', "#"
          %li
            %h3
              = link_to 'スポーツ・レジャー', "#"
          %li
            %h3
              = link_to 'ハンドメイド', "#"
          %li
            %h3
              = link_to 'チケット', "#"
          %li
            %h3
              = link_to '自動車・オートバイ', "#"
          %li
            %h3
              = link_to 'その他', "#"
          %li
            %h3
              = link_to 'カテゴリー一覧', "#"

      %li.header-nav-left__brand
        %h2
          = link_to 'ブランドから探す', "#"
        %ul.header-nav-left__brand__wrap
          %li
            %h3
              = link_to 'シャネル', "#"
          %li
            %h3
              = link_to 'ナイキ', "#"
          %li
            %h3
              = link_to 'ルイ ヴィトン', "#"
          %li
            %h3
              = link_to 'シュプリーム', "#"
          %li
            %h3
              = link_to 'アディダス', "#"
          %li
            %h3
              = link_to 'ブランド一覧', "#"

    %ul.header-nav-rigth
      %li.header-nav-rigth__login
        = link_to 'ログイン', "#"
      %li.header-nav-rigth__signup
        = link_to '新規会員登録', "#"
